TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=
GOOGLE_API_KEY=
PINECONE_API_KEY=
PINECONE_INDEX_NAME=
PINECONE_ENVIRONMENT=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALENDAR_ID=primary
OPENROUTER_API_KEY=
